<?xml version="1.0" encoding="UTF-8"?>
<!-- XML파일명 =테이블명-mapper -->
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="com.sist.dao.student-mapper"> <!-- package(namespace) -->
<!-- 
		(cache-ref | cache | resultMap* | 
 						  parameterMap* | sql* | insert* | update* | delete* | select*)+
  -->
  <!-- 데이터 검색 -->
  <!-- 
  	SELECT count(*) FROM student_view	=> 		 resultType="int"
  	SELECT name FROM student_view	=> 		 resultType="String"
  	SELECT kor,eng,math FROM student_view	=> 		 resultType="StudentVO"	(얘는 함수의 리턴타입으로 봐야함)
  	
  	resultType : 결과값(리턴형)
  	parameterType : 매개변수(= ?값)  *VO에 없는 값은 map을 쓴다.
   -->
  <select id="studentAllData" resultType="VO">
  	SELECT * FROM student_view
  </select>

</mapper>